<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="thumbnail" style="background-color:transparent; border:0">
      <%= image_tag "person.png" %>
      <p class="centro">No hay mas amig@s cerca....</p>
    </div>
  </div>
</div>
